.cartao {

    display: block;
    width: 450px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
              
}

.media {
    height: 140;
}
.restaurante {
    
}