.cartao {

    display: block;
    max-width: 425px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
              
}

.media {
    height: 140;
}
.wpp {
    position: fixed;
}