h2 {
    text-align: center;
}

.rating {
    float: inherit;
}
.close-button {
    text-align: end;
    margin-bottom: -20px;
    margin-top: -5px;
    margin-right: -15px;
}
.font-modal {
    font-family: 'Coolvetica';
    font-size: 30px;
    text-align: center;
}