/* .onMenu{
    height: 250px; 
    
}

.canto {
    height: 150px; 
    float: right;
    padding-top: 150px;
}

.header-home {
    display: inline-block;
    text-align: center;
} */
img{
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}