.cardapio {
    max-width: 425px; 
}
.text{
    text-align: center;
}
.img {  
    height: 50px;
    float: left;
    position: relative; 
	left: -1px;  
    top: -9px;
    margin-right: 5px;
}

.preco {
    text-align: center;
    color: rgb(1, 153, 9);
}

.back-icon {
    float: right;
    width: 35px;
    height: 35px;
    color: black;
}

.wpp{
    height: 90px;
    width: auto;
    
    position: fixed;
    bottom:0;
    left:0;
}
.icon-whatsapp {
    width: 25px;
    height: 40px;
    color: rgb(1, 153, 9);  
}
