.cardapio {
    max-width: 425px;
    

    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1000px 100px;
    grid-template-areas: 
      "header"
      "content"
      "footer" */
  }
  .header{
    grid-area: header; 
  }
  .content{
    grid-area: content;
    padding-bottom: 100px;
  }
  .footer{
    grid-area: footer;
  }
.text{
    text-align: center;
}
.img {  
    height: 50px;
    float: left;
    position: relative; 
	left: -1px;  
    top: -9px;
    margin-right: 5px;
}

.preco {
    text-align: center;
    color: rgb(1, 153, 9);
    font-size: 20px;
}

.wpp{
    height: 90px;
     width: auto;
    position: fixed;
    bottom:0;
    left:0;
}
.icon-whatsapp {
    width: 25px;
    height: 40px;
    color: rgb(1, 153, 9);  
}

.font {
    font-family: 'Coolvetica';
    font-size: 20px;
}
.font-title{
    font-family: 'Coolvetica';
    font-size: 30px;
}
.font-topic {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
}

.cabecalho {
    display: inline;
    font-size: 30px;
}
.icones {
    float: right;
    width: 30px;
}
.back-icon {
    margin-right: 0px;
    width: 35px;
    height: 35px;
    color: black;
}
.avaliacao {
    margin-right: 40px;
    color: black;
    width: 35px;
    height: 35px;
}

