.cardapio {
    max-width: 425px;
    background-image: url('../../assets/background.jpg')
}
.text{
    text-align: center;
}
.img {  
    height: 50px;
    float: left;
    position: relative; 
	left: -1px;  
    top: -9px;
    margin-right: 5px;
}

.preco {
    text-align: center;
    color: rgb(1, 153, 9);
    font-size: 20px;
}

.wpp{
    height: 90px;
     width: auto;
    position: fixed;
    bottom:0;
    left:0;
}
.icon-whatsapp {
    width: 25px;
    height: 40px;
    color: rgb(1, 153, 9);  
}

.font {
    font-family: 'Coolvetica';
    font-size: 20px;
}
.font-title{
    font-family: 'Coolvetica';
    font-size: 30px;
}

.cabecalho {
    display: inline;
    font-size: 30px;
}
.icones {
    float: right;
    width: 30px;
}
.back-icon {
    margin-right: 0px;
    width: 35px;
    height: 35px;
    color: black;
}
.avaliacao {
    margin-right: 40px;
    color: black;
    width: 35px;
    height: 35px;
}