
.header {
  background-color: white;
  text-align: center;
}
.buttons {
  padding: 4px;
}

.listaRestaurantes{
  padding: 10px 0px 0px 0px;
}
.app{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 90px;
  grid-template-areas: 
    "header"
    "content"
    "footer"
}
.header{
  grid-area: header; 
}
.content{
  grid-area: content;
}
.footer{
  grid-area: footer;
}
* {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/fonts/coolveticacondensedrg.ttf')
}




